/* Pretty printing styles. Used with prettify.js.
 *
 * Name:	Stanley Ng
 * Email: 	stanleyhlng@googlegroups.com
 * 
 * Credits:
 * https://github.com/chriskempson/tomorrow-theme
 */
.pln {
  color: #4d4d4c; }

.str {
  color: #7c931c; }

.kwd {
  color: #8443b0; }

.com {
  color: #8e908c;
  font-style: italic; }

.typ {
  color: #f5871f; }

.lit {
  color: #eab700; }

.pun {
  color: #4d4d4c; }

.opn {
  color: #4d4d4c; }

.clo {
  color: #4d4d4c; }

.tag {
  color: #c82829; }

.atn {
  color: #eab700; }

.atv {
  color: #3e999f; }

.dec {
  color: #f5871f; }

.var {
  color: #c82829; }

.fun {
  color: #c82829; }

/* Put a border around prettyprinted code snippets. */
pre.prettyprint {
/*  clear: both; */
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #4d4d4c; 
  font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
  overflow: auto;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  color: #8e908c;
  margin: 0 0 0 40px; }

ol.linenums li {
  line-height: 18px;
  padding-left: 12px; }
