[Bb]in*/
[Dd]ebug*/
[Oo]bj*/
[Rr]elease*/

*.ReSharper
_ReSharper.*
*.user
*.suo
*.sln.cache
*.resharper
packages

/NemerleWeb.NugetPackage/NemerleWeb.1.0.0.nupkg
/NemerleWeb.NugetPackage/lib/net45/*.dll
/NemerleWeb.NugetPackage/lib/net45/*.pdb

/PSTools/ItemTemplate.zip
/PSTools/ProjectTemplate.zip
/PSTools/Installer
/NemerleWeb.Website/Installer

NemerleWeb.Website/Scripts/NemerleWeb/*.js
NemerleWeb.RSDN/Scripts/NemerleWeb/*.js
NemerleWeb.Rsdn.Tree/Scripts/NemerleWeb/*.js
NemerleWeb.TypedClr/Scripts/NemerleWeb/*.js
Test/Scripts/NemerleWeb/*.js
peg-parser/Calculator/Scripts/NemerleWeb/*.js
peg-parser/CSharpParser/Scripts/NemerleWeb/*.js
peg-parser/Json/Nemerle.Json/Scripts/NemerleWeb/*.js
peg-parser/JSParser/Scripts/NemerleWeb/*.js
peg-parser/Nemerle.Peg/Scripts/NemerleWeb/*.js
peg-parser/TSParserPeg/Scripts/NemerleWeb/*.js