[Bb]in*/
[Dd]ebug*/
[Oo]bj*/
[Rr]elease*/

*.ReSharper
_ReSharper.*
*.user
*.suo
*.sln.cache
*.resharper
packages

/NemerleWeb.NugetPackage/NemerleWeb.1.0.0.nupkg
/NemerleWeb.NugetPackage/lib/net45/*.dll
/NemerleWeb.NugetPackage/lib/net45/*.pdb

/PSTools/*.zip
/PSTools/*.zip
/PSTools/Installer
/NemerleWeb.Website/Installer