<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>RSDN.ru</title>
    </head>
    @RenderBody()
    <frameset cols="*,75%" id="treeshower" border="2" bordercolor="#65a7cb" framespacing="2" frameborder="1">
	    <frame name="frmTree" src="/Home/Tree" marginwidth="0" marginheight="0" bordercolor="#65a7cb" frameborder="1"></frame>
	    <frame id="frmMain" name="frmMain" src="http://www.rsdn.ru/frames/main" bordercolor="#65a7cb" marginwidth="0" marginheight="0" frameborder="1" scrolling="auto"></frame>
    </frameset>
</html>
