body {
    font-family: Tahoma, Geneva, sans-serif;
}

.search-bar {
    padding: 10px;
}

.node {
    font-size: 12px;
    clear: both;
}

.node a {
    color: #1e90ff;
    text-decoration: none;
}

.node a:hover {
    color: #176bbb;
}

.node.with-children a{
    color: #2f4f4f;
}

.node .node-icon {
    display: block;
    float: left;
    width: 32px;
}

.node .node-caption {
    display: block;
    margin-left: 35px;
}

.search-results > div {
    padding: 3px 0;
}

.selected-search-result {
    font-weight: bold;
}

.left {
    width: 25%;
    float: left;
    overflow: scroll;
}

.right {
    width: 70%;
    float: right;
}

.right iframe {
    border: 0;
    width: 100%;
    height: 1000px;
}