body, html {
    height:100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, Geneva, sans-serif;
    position: relative;
}

.body-container, #nweb-start, .page {
    height: 100%;
}

.search-bar {
    padding: 10px;
}

a img {
    border: none;
}

.node {
    font-size: 12px;
    position: relative;
    clear: both;
    margin: 2px 0;
}

.node-loading {
    font-size: 10px;
    color: #666;
}

.node a {
    color: #1e90ff;
    text-decoration: none;
}

.node a:hover {
    color: #176bbb;
}

.node a:hover .node-pin {
    visibility: visible;
}

.node.with-children a{
    color: #2f4f4f;
}

.node .node-icon {
    display: block;
    float: left;
    width: 32px;
}

.node .node-caption {
    display: block;
    margin-left: 35px;
    padding-right: 26px;
}

.node .node-caption.is-active {
    font-weight: bold;
}

.node .node-pin {
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 0;
    background-image: url('/content/images/pin.png');
    width: 16px;
    height: 16px;
    visibility: hidden;
}

.node .node-pin:hover {
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: -ms-transform 0.5s;
    transition: -o-transform 0.5s;
    transition: -moz-transform 0.5s;
    
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari and Chrome */
    -o-transform: rotate(-45deg); /* Opera */
    -moz-transform: rotate(-45deg); /* Mozilla */
}

.node .node-pin.pinned {
    visibility: visible;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari and Chrome */
    -o-transform: rotate(-45deg); /* Opera */
    -moz-transform: rotate(-45deg); /* Mozilla */
}

.node .node-pin.pinned:hover {
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: -ms-transform 0.5s;
    
    transform: rotate(15deg);
    -ms-transform: rotate(15deg); /* IE 9 */
    -webkit-transform: rotate(15deg); /* Safari and Chrome */
    -o-transform: rotate(-15deg); /* Opera */
    -moz-transform: rotate(-15deg); /* Mozilla */
}

.pinned-nodes {
    margin-bottom: 10px;
}

.selected-search-result {
    font-weight: bold;
}

.search-show-all {
    text-align: center;
    font-size: 14px;
    margin: 15px 0;
    padding: 3px 0;
    cursor: pointer;
    color: #333;
}

.search-show-all:hover {
    background-color: #d5d5d5;
    text-decoration: underline;
}

.left {
    width: 25%;
    height: 100%;
    overflow: auto;
}

.right {
    width: 75%;
    float: right;
    height: 100%;
    overflow: auto;
}

.vsplitbar {
	width: 5px;
	background: #aaa;
}

.right iframe {
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 99%;
}