body {
    font-family: Tahoma, Geneva, sans-serif;
}

.node {
    cursor: pointer;   
    color: #1e90ff;
    font-size: 12px;
}

.node.with-children {
    color: #2f4f4f;
}

.node.selected-search-result {
    background-color: #c0c0c0;
}

.search-results span {
    font-size: 12px;
}

.page {
}

.left {
    width: 25%;
    float: left;
    overflow: scroll;
}

.right {
    width: 70%;
    float: right;
}

.right iframe {
    border: 0;
    width: 100%;
    height: 1000px;
}

.search-bar {
    padding: 10px;
}