@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Nemerle Web</h1>
    <p class="lead">
        NemerleWeb is a reactive web application framework similar to AngularJS, Knockout, Meteor and others. 
        There are some things that are different though:
    </p>
    <ul class="feature-list">
        <li>It's meant to be used with <a href="http://www.nemerle.org">Nemerle</a>, most powerful .NET language</li>
        <li>Models are the same on server and client, kinda like with NodeJS</li>
        <li>Communication with server is seamless. No serialization, no mapping.</li>
        <li>Integrated SignalR support for duplex communication (again, seamless)</li>
        <li>Macros for abstracting commonly used code patterns</li>
        <li>It's much nicer to look at :)</li>
    </ul>
    <p><a class="btn btn-large btn-success" href="#">Try it!</a></p>
</div>

<h2>How to install?</h2>

<p>
    It's real easy! If you've ever installed <a href="http://chocolatey.org/">Chocolatey</a>, then it should be familiar.
    Open a command prompt, and paste following command:

    <pre class="cmd">
<span>C:\></span>@@powershell -NoProfile -ExecutionPolicy unrestricted -Command "iex ((new-object net.webclient).DownloadString('http://www.nemerleweb.com/installer/standalone-install.ps1'))"
    </pre>
</p>