html {
    background-color: #ECECEC;
    background-image: url(/content/images/bg.jpg);
}
body {
    width: 960px;
    margin: 0 auto;
    box-shadow: 0 0 9px rgba(0, 0, 0, .33),0 0 1px rgba(0, 0, 0, .33);
    -moz-box-shadow: 0 0 9px rgba(0,0,0,.33),0 0 1px rgba(0,0,0,.33);
    -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, .33),0 0 1px rgba(0, 0, 0, .33);
    font-size: .85em;
    font-family: Tahoma, Geneva, sans-serif;
    color: #555;
    background-color: #fff;
    min-height: 300px;
}
ul {
    list-style: none;
    font-size: 22px;
}
ul a {
    font-size: 16px;   
}
a {
    color: #658385;
}
.folders { background-color: #bbb; list-style-type: none; padding: 0; margin: 0; border-radius: 7px; 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d6d6d6), color-stop(0.4, #c0c0c0), color-stop(1,#a4a4a4)); 
	margin: 10px 0 16px 0;
	font-size: 0px;
}
.folders li:hover { background-color: #ddd; }    
.folders li:first-child { border-left: none; border-radius: 7px 0 0 7px; }
.folders li { font-size: 16px; font-weight: bold; display: inline-block; padding: 0.5em 1.5em; cursor: pointer; color: #444; text-shadow: #f7f7f7 0 1px 1px; border-left: 1px solid #ddd; border-right: 1px solid #888; }
.folders li { *display: inline !important; } /* IE7 only */
.folders .selected { background-color: #444 !important; color: white; text-shadow:none; border-right-color: #aaa; border-left: none; box-shadow:inset 1px 2px 6px #070707; }    

.mails { width: 100%; table-layout:fixed; border-spacing: 0; }
.mails thead { background-color: #bbb; font-weight: bold; color: #444; text-shadow: #f7f7f7 0 1px 1px; }
.mails tbody tr:hover { cursor: pointer; background-color: #68c !important; color: White; }
.mails th, .mails td { text-align:left; padding: 0.4em 0.3em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.mails th { border-left: 1px solid #ddd; border-right: 1px solid #888; padding: 0.4em 0 0.3em 0.7em; }    
.mails th:nth-child(1), .mails td:nth-child(1) { width: 20%; }
.mails th:nth-child(2), .mails td:nth-child(2) { width: 15%; }
.mails th:nth-child(3), .mails td:nth-child(3) { width: 45%; }
.mails th:nth-child(4), .mails td:nth-child(4) { width: 15%; }
.mails th:last-child { border-right: none }
.mails tr:nth-child(even) { background-color: #EEE; }
  
.viewMail .mailInfo { background-color: #dae0e8; padding: 1em 1em 0.5em 1.25em; border-radius: 1em; }
.viewMail .mailInfo h1 { margin-top: 0.2em; font-size: 130%; }
.viewMail .mailInfo label { color: #777; font-weight: bold; min-width: 2.75em; text-align:right; display: inline-block; }
.viewMail .message { padding: 0 1.25em; }

.name-list {
    font-size: 12px;
}

.logo-container {
    background-color: #529795;
}

h1.logo {
    background-color: #75CCC9;
    padding: 20px;
    font-size: 36px;
    color: #fff;
    margin: 10px 0 0 15px;
}

h1.logo a {
    background-color: #75CCC9;
    padding: 20px;
    font-size: 36px;
    color: #fff;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-decoration: none;
}

h1.logo span {
    padding-left: 20px;
    vertical-align: top;
    font-size: 12px;
}

.body-container {
    padding: 10px 50px 10px 30px;
}

.code {
    background-color: #333;
    color: #fff;
    padding: 25px;
}

.container {
    overflow: hidden;
}

.samples-menu {
    width: 190px;
    float: left;
    border-right: 1px solid #ccc;
    text-align: right;
    padding: 0 20px 0 0px;
}
    
.samples-menu .split {
    height: 30px;
}

.samples-menu .header {
    font-weight: bold;
    font-size: 18px;
    color: #BE945E;
}

.samples-menu span {
    font-size: 14px;
    cursor: pointer;
}

.samples-menu li.selected {
    font-weight: bold;
}

.current-sample {
    margin-left: 230px;
    padding-top: 10px;
}

.JsAst-tests tr td {
    background-color: greenyellow;
    padding: 2px 5px;
    text-align: center;
}

.JsAst-tests tr.failed td {
    background-color: red;
    color: #fff;
}

footer {
    padding: 15px 50px 30px 50px;
    font-size: 14px;
    text-align: right;
}