<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="0.1.2" targetFramework="net40" />
  <package id="jquery.validation.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="jqueryui.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="knockout.mapping.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="knockout.TypeScript.DefinitelyTyped" version="0.0.9" targetFramework="net40" />
  <package id="knockout.validation.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net40" />
  <package id="modernizr.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="moment.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="requirejs.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="signalr.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
</packages>