<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ace.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net40" />
  <package id="amcharts.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net40" />
  <package id="amplifyjs.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="angularjs.TypeScript.DefinitelyTyped" version="0.4.5" targetFramework="net40" />
  <package id="arbiter.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="async.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="azure-mobile-services-client.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="AzureMobileServicesClient.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="backbone.TypeScript.DefinitelyTyped" version="0.2.2" targetFramework="net40" />
  <package id="backbone-relational.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="backgrid.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="bgiframe.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="bootbox.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="bootstrap.datepicker.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="bootstrap.paginator.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="bootstrap.timepicker.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="bootstrap.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net40" />
  <package id="bootstrap-notify.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="box2d.TypeScript.DefinitelyTyped" version="0.0.7" targetFramework="net40" />
  <package id="breeze.TypeScript.DefinitelyTyped" version="0.1.5" targetFramework="net40" />
  <package id="browser-harness.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="browserify.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="camljs.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="casperjs.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="chai.TypeScript.DefinitelyTyped" version="0.1.2" targetFramework="net40" />
  <package id="chai-fuzzy.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="chai-jquery.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net40" />
  <package id="cheerio.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net40" />
  <package id="chosen.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="chrome.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="codemirror.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net40" />
  <package id="colors.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="commander.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="convert-source-map.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="crossroads.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="d3.TypeScript.DefinitelyTyped" version="0.3.1" targetFramework="net40" />
  <package id="docCookies.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="domo.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="dropzone.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="durandal.TypeScript.DefinitelyTyped" version="0.1.9" targetFramework="net40" />
  <package id="dustjs-linkedin.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="easeljs.TypeScript.DefinitelyTyped" version="0.1.4" targetFramework="net40" />
  <package id="ember.TypeScript.DefinitelyTyped" version="0.0.8" targetFramework="net40" />
  <package id="epiceditor.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="expect.js.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="express.TypeScript.DefinitelyTyped" version="0.0.8" targetFramework="net40" />
  <package id="extjs.TypeScript.DefinitelyTyped" version="0.0.8" targetFramework="net40" />
  <package id="fabricjs.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net40" />
  <package id="fancybox.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="filesystem.TypeScript.DefinitelyTyped" version="0.0.7" targetFramework="net40" />
  <package id="filewriter.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net40" />
  <package id="firebase.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="flexSlider.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="flot.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="foundation.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="fpsmeter.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="fullCalendar.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="gae.channel.api.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="gamepad.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="gamequery.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="gapi.pagespeedonline.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="gapi.translate.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="gapi.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="gapi.urlshortener.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="gapi.youtube.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="gapi.youtubeAnalytics.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="gldatepicker.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="globalize.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="goJS.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="google.analytics.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net40" />
  <package id="google.feeds.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="google.geolocation.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="googlemaps.TypeScript.DefinitelyTyped" version="0.1.0" targetFramework="net40" />
  <package id="greensock.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="gruntjs.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="hammerjs.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net40" />
  <package id="handlebars.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="highcharts.TypeScript.DefinitelyTyped" version="0.0.8" targetFramework="net40" />
  <package id="highlightjs.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="history.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net40" />
  <package id="humane.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="i18next.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net40" />
  <package id="icheck.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="impress.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="iscroll.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net40" />
  <package id="jake.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net40" />
  <package id="jasmine.TypeScript.DefinitelyTyped" version="0.1.4" targetFramework="net40" />
  <package id="jasmine-jquery.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="jasmine-matchers.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="jointjs.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="jqrangeslider.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="jquery.address.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="jquery.are-you-sure.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="jquery.autosize.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="jquery.bbq.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="jquery.bootstrap.wizard.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="jquery.clientSideLogging.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="jquery.colorbox.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="jquery.contextMenu.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="jquery.cookie.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="jquery.cycle.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="jquery.dataTables.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="jquery.dynatree.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="jquery.elang.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="jquery.form.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="jquery.gridster.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="jquery.jnotify.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="jquery.livestampjs.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="jquery.menuaim.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="jquery.noty.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="jquery.payment.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="jquery.pickadate.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="jquery.scrollTo.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="jquery.simplePagination.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net40" />
  <package id="jquery.sortElements.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="jquery.superLink.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="jquery.tagsmanager.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="jquery.timeago.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="jquery.timepicker.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net40" />
  <package id="jquery.tinycarousel.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="jquery.tinyscrollbar.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="jquery.transit.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="0.2.0" targetFramework="net40" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="0.3.0" targetFramework="net40" />
  <package id="jquery.ui.layout.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="jquery.validation.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net40" />
  <package id="jquery.watermark.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="jquerymobile.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net40" />
  <package id="jqueryui.TypeScript.DefinitelyTyped" version="0.1.0" targetFramework="net40" />
  <package id="jqueryui.TypeScript.DefinitelyTyped" version="0.1.4" targetFramework="net40" />
  <package id="jscrollpane.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="jsdeferred.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net40" />
  <package id="js-fixtures.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="jsfl.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="jsoneditoronline.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="jsplumb.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="js-signals.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="jstorage.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="jszip.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="jwplayer.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="keyboardjs.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="knockback.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="knockout.deferred.updates.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="knockout.editables.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="knockout.es5.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="knockout.mapping.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net40" />
  <package id="knockout.postbox.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="knockout.TypeScript.DefinitelyTyped" version="0.3.2" targetFramework="net40" />
  <package id="knockout.validation.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net40" />
  <package id="knockout.viewmodel.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="kolite.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="ladda.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="leaflet.TypeScript.DefinitelyTyped" version="0.0.9" targetFramework="net40" />
  <package id="leapmotionTS.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="less.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="levelup.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="libxmljs.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="linq.TypeScript.DefinitelyTyped" version="0.0.8" targetFramework="net40" />
  <package id="logg.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="marionette.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="marked.TypeScript.DefinitelyTyped" version="0.0.7" targetFramework="net40" />
  <package id="meteor.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="mocha.TypeScript.DefinitelyTyped" version="0.0.8" targetFramework="net40" />
  <package id="modernizr.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net40" />
  <package id="moment.TypeScript.DefinitelyTyped" version="0.0.8" targetFramework="net40" />
  <package id="mongodb.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="mousetrap.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="msnodesql.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net40" />
  <package id="mustache.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="node.TypeScript.DefinitelyTyped" version="0.2.8" targetFramework="net40" />
  <package id="node_redis.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net40" />
  <package id="node_zeromq.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="node-azure.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net40" />
  <package id="node-ffi.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="node-fibers.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="nodemailer.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net40" />
  <package id="noVNC.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="numeraljs.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="parallel.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="pdf.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="persona.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="phantomjs.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="phonegap.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net40" />
  <package id="pixi.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="platform.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="popcorn.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="pouchDB.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net40" />
  <package id="preloadjs.TypeScript.DefinitelyTyped" version="0.0.8" targetFramework="net40" />
  <package id="pubsubjs.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="q.TypeScript.DefinitelyTyped" version="0.1.6" targetFramework="net40" />
  <package id="qunit.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net40" />
  <package id="raphael.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net40" />
  <package id="ravenjs.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="requirejs.TypeScript.DefinitelyTyped" version="0.0.9" targetFramework="net40" />
  <package id="restangular.TypeScript.DefinitelyTyped" version="0.0.9" targetFramework="net40" />
  <package id="restify.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net40" />
  <package id="reveal.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="rickshaw.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="routie.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="royalslider.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="rx.js.TypeScript.DefinitelyTyped" version="0.1.5" targetFramework="net40" />
  <package id="sammyjs.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net40" />
  <package id="scroller.TypeScript.DefinitelyTyped" version="0.0.7" targetFramework="net40" />
  <package id="select2.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net40" />
  <package id="sencha_touch.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net40" />
  <package id="sharepoint.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="should.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="siesta.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="signalr.TypeScript.DefinitelyTyped" version="0.0.9" targetFramework="net40" />
  <package id="sinon.TypeScript.DefinitelyTyped" version="0.1.0" targetFramework="net40" />
  <package id="sinon-chai.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net40" />
  <package id="slickgrid.TypeScript.DefinitelyTyped" version="0.0.7" targetFramework="net40" />
  <package id="socket.io.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net40" />
  <package id="sockjs.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="soundjs.TypeScript.DefinitelyTyped" version="0.0.8" targetFramework="net40" />
  <package id="spin.TypeScript.DefinitelyTyped" version="0.0.8" targetFramework="net40" />
  <package id="state-machine.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="storejs.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="stripe.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="sugar.TypeScript.DefinitelyTyped" version="0.0.9" targetFramework="net40" />
  <package id="superagent.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="supertest.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="swiper.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="swipeview.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net40" />
  <package id="teechart.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net40" />
  <package id="threejs.TypeScript.DefinitelyTyped" version="0.1.2" targetFramework="net40" />
  <package id="through.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="toastr.TypeScript.DefinitelyTyped" version="0.0.8" targetFramework="net40" />
  <package id="trunk8.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="tween.js.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net40" />
  <package id="tweenjs.TypeScript.DefinitelyTyped" version="0.0.8" targetFramework="net40" />
  <package id="underscore.string.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="underscore.TypeScript.DefinitelyTyped" version="0.2.5" targetFramework="net40" />
  <package id="underscore-ko.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="unity-webapi.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="urijs.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="uuid.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="videojs.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net40" />
  <package id="viewporter.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="vimeo.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="webaudioapi.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net40" />
  <package id="webrtc.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net40" />
  <package id="winjs.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="winrt.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net40" />
  <package id="youtube.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="zepto.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="zeroclipboard.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net40" />
</packages>