<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angularjs.TypeScript.DefinitelyTyped" version="0.1.2" targetFramework="net40" />
  <package id="bootbox.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="bootstrap.datepicker.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="bootstrap.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="bootstrap-notify.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="breeze.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net40" />
  <package id="durandal.TypeScript.DefinitelyTyped" version="0.0.9" targetFramework="net40" />
  <package id="handlebars.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="jasmine.TypeScript.DefinitelyTyped" version="0.0.7" targetFramework="net40" />
  <package id="jquery.scrollTo.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="0.1.3" targetFramework="net40" />
  <package id="jquery.validation.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="jqueryui.TypeScript.DefinitelyTyped" version="0.0.7" targetFramework="net40" />
  <package id="knockout.mapping.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net40" />
  <package id="knockout.postbox.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="knockout.TypeScript.DefinitelyTyped" version="0.1.3" targetFramework="net40" />
  <package id="knockout.validation.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net40" />
  <package id="kolite.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="modernizr.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="moment.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="numeraljs.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="qunit.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="requirejs.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net40" />
  <package id="signalr.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net40" />
  <package id="spin.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net40" />
  <package id="toastr.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net40" />
  <package id="underscore.TypeScript.DefinitelyTyped" version="0.1.1" targetFramework="net40" />
  <package id="zeroclipboard.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net40" />
</packages>